@page
@model mediabazaarWebsite.Pages.changepasswordModel
@{
    Layout = "";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/mediabazaarWebsite.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="mContainer text-center" style="background-color: #1B3B6F">
    <div class="changepasswordbackground">
        <form method="post">
            <label for="password">Password:</label><br>
            <span asp-validation-for="Password"></span>
            <input type="text" id="password" class="inputBoxes" placeholder="Insert your password" asp-for="Password"><br>
            <span asp-validation-for="ConfirmPassword"></span>
            <label for="confirmPassword">Confirm Password:</label><br>
            <input type="text" id="confirmPassword" class="inputBoxes" placeholder="Confirm your password" asp-for="ConfirmPassword"><br>
            <button type="submit" value="changePassword">Change Password</button><br />
            <span>@Model.ErrorMessage</span>
        </form>
    </div>
</div>
