@page
@model mediabazaarWebsite.Pages.CongratsPageModel
@{
    Layout = "";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/mediabazaarWebsite.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="mContainer">
    <p class="CongratsBackground congratspage">Password Changed</p>
</div>