<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    
    <div class="bye">

        <h1>Bye Bye cashier!!!</h1>
    
         

    </div><br><br>

    <div class="logInButton">
        <p>Go back to welocme page</p> 
        <form method="GET" action="/">
            <input type="submit" value="Log In"/>
        </form>
    </div>
    

</body>

<div class="devisionFooter">
    <p class="footer">Made by 7-5 group.</p>
</div>

</html>