@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
     <div class="container">
            <main role="main" class="pb-3">
                <br />
                <h4 class="display-4">Welcome to RobertHeijn!</h4>
                <br />
                <br />
                <img src="/images/food.png" >
                <br />
                <br />
                <br />
                <h4>We are selling groceries and goods.</h4>
                <br />
                <h4>We also have a range of  household goods of different categories .</h4>
                <br />
                <h4><a class="nav-link text-dark" asp-area="" asp-page="/loading">Click here to view our catalog!</a></h4>
                <br />
            </main>
        </div>
</div>

