@using BUSLOGIC.Classes
@model List<Message>
@foreach (var message in Model)
{

    @if (User.Identity.Name.ToString() == message.From.ToString())
    {
        <li class="d-flex justify-content-between mb-4 ">
            <div class="card float-xxl-end">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0 float-end">@message.From</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                        @message.Text
                    </p>
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="d-flex justify-content-between mb-4 float-right">
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">@message.From</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                        @message.Text
                    </p>
                </div>
            </div>
        </li>
    }
}

