@page
@model Proiect_din_ala_tank.Pages.LogInModel
@{
    ViewData["Title"] = "Log In";
}
<div class="login-form card ">
    <head>
        <link rel="stylesheet" href="~/css/css_logIn.css" asp-append-version="true" />

    </head>
     <h1>StudyPal</h1>
    <div asp-validation-summary="All" class="container text-danger">
        <form method="post">
             <div class="form-group ">
               <input type="text" asp-for="@Model.Username" class="form-control" placeholder="Username " id="UserName">
               <i class="fa fa-user"></i> 
             </div>
             <div class="form-group log-status">

               <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password" id="Password">
               <i class="fa fa-lock"></i>
             </div>
              <a class="link" href="#">Lost your password?</a>
             <button type="submit" class="log-btn">Log in</button>
        </form>
    </div>
  
</div>
