@page
@model Proiect_din_ala_tank.Pages.WelcomeModel
@{
}

!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>

    <h1>Welcome</h1>

    

</body>
</html>
